body {
    background-color: olivedrab;
    text-align: center;
    color: black;
}

a {
    color: cornsilk;
    text-decoration: none;
}

a:hover {
    color: deepskyblue;
    text-decoration: line;
}

main {
    text-align: left;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

h2 {
    text-align: center;
}

img {
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

figcaption {
    font-style: italic;
    text-align: center;
}

/*Laptop and small screens*/
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    #colorbox {
        background-color: lightseagreen;
        font-size: medium;
        color: coral;
    }
}

/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color: cornflowerblue;
        font-size: small;
        color: darkolivegreen;
    }
}

/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color: lightgray;
        font-size: small;
        color: darkseagreen;
    }
}