<nav>
    <a href="https://webpages.charlotte.edu/spradh11/">Charlotte.edu</a>
    ||
    <a href="https://github.com/sohamprad/sohamprad.github.io">Github</a>
    ||
    <a href="https://sohamprad.github.io/itis3135/index.html">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/SohamPradhan">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/SohamPradhan">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/spradhan04/">LinkedIn</a>
</nav>

<p>Page Designed by <a href="sleepy-panda.com">Sleepy Panda Incorporated </a>&copy;2025, <i>Certified in <a href="https://www.freecodecamp.org/certification/SohamPradhan/responsive-web-design">
    Responsive</a> Web Design</i>,<i>Certified in <a href="https://www.freecodecamp.org/certification/SohamPradhan/responsive-web-design">JADS</a></i></p>

<a href="https://validator.w3.org/check?ur=referer" id="validation-link-html">
    <img style="border: 0; width: 88px;height: 31px;" src="https://sohamprad.github.io/itis3135/images/w3htmlvalidator.png" alt="Valid HTML!">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
    <img style="border: 0; width: 88px;height: 31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid HTML!">
</a>